{% extends 'base.html' %}
{% block content %}
    <h1></h1>
    <div class="card lighten-3 black-text">
        <div class="card-content">
            {% if object %}
                <h2 style="color: #607d8b ;">Edit <span>{{object.name}}</span></h2>
            {% else %}
                <h1 style="color: #607d8b ;">Add a Post</h1>
            {% endif %}
            <form class="black-text" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit!" class="btn blue-grey lighten-1" style="margin-top: 10px;">
            </form>
        </div>
    </div>
    <style>
        .card {
            border-radius: 10px;
            margin: 0 auto;
        }
    </style>
{% endblock %}