{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luminate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-AHzvzIuH7wEYKPxWfsZ1JQ0hq9X7EGGDN0zeWbCxP76vshAVCPNJzzzYQNW8Wnl7ZKvMYY9X5js5emrqU6Ohw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="blue lighten-4">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <ul>
                    <li><a href="/" class="left brand-logo black-text">&nbsp;&nbsp;Luminate</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'index' %}" class="black-text">View all Posts</a></li>
                    <li><a href="{% url 'posts_create' %}" class="black-text">Add a Post</a></li>
                    <li><a href="{% url 'liked_posts' %}" class="black-text">Liked Posts</a></li>
                    <li><a href="{% url 'signup' %}" class="black-text">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" class="black-text">Log In</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer white">
        <div class="right black-text">All Rights Reserved, &copy; 2023 Luminate &nbsp;</div>
    </footer>
</body>
</html>