{% extends 'base.html' %}

{% block content %}
    <h1>Posts you've liked</h1>
    {% if liked_posts %}
        <ul>
        {% for post in liked_posts %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ post.title }}</span>
                <p>Body: {{ post.body }}</p>
            </div>
            <div class="card-action">
                <form method="POST" action="{% url 'like_toggle' post_id=post.id %}" class="float-right">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm {% if request.user in post.likes.all %}btn-primary{% else %}btn-secondary{% endif %}">
                        {% if request.user in post.likes.all %}
                            <i class="fas fa-heart red-text"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't liked any posts yet.</p>
    {% endif %}
{% endblock %}