{% extends 'base.html' %}
{% block content %}
    <h1>Liked Posts</h1>

    {% for like in object_list %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ like.post.title }}</span>
                <p>Body: {{ like.post.body }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'likes_delete' like.id %}" class="blue-text text-lighten-2">Delete</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}